snippet ygzmark "Marks the document adds required documents"
// Copyright (c) 2023 Yağız Işkırık
//
// This software is released under the MIT License.
// https://opensource.org/licenses/MIT

endsnippet
